%html
  %head
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js", :type => "text/javascript"}
    %script{:src => "http://localhost:4567/freedjit.js", :type => "text/javascript"}
  %body
    .test Some stuff
    #list
      :javascript
        freedjit("#list")
